.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(left bottom , ellipse cover , rgb(172, 2, 2) 8% , rgb(214, 18, 18) 23% , rgb(184, 18, 18) 41% , rgb(170, 8, 21) 51% , rgb(223, 0, 27) 66% , rgb(195, 9, 1) 81%);
background: -o-radial-gradient(left bottom , ellipse cover , rgb(172, 2, 2) 8% , rgb(214, 18, 18) 23% , rgb(184, 18, 18) 41% , rgb(170, 8, 21) 51% , rgb(223, 0, 27) 66% , rgb(195, 9, 1) 81%);
background: -ms-radial-gradient(left bottom , ellipse cover , rgb(172, 2, 2) 8% , rgb(214, 18, 18) 23% , rgb(184, 18, 18) 41% , rgb(170, 8, 21) 51% , rgb(223, 0, 27) 66% , rgb(195, 9, 1) 81%);
background: -moz-radial-gradient(left bottom , ellipse cover , rgb(172, 2, 2) 8% , rgb(214, 18, 18) 23% , rgb(184, 18, 18) 41% , rgb(170, 8, 21) 51% , rgb(223, 0, 27) 66% , rgb(195, 9, 1) 81%);
background: -webkit-radial-gradient(left bottom , ellipse cover , rgb(172, 2, 2) 8% , rgb(214, 18, 18) 23% , rgb(184, 18, 18) 41% , rgb(170, 8, 21) 51% , rgb(223, 0, 27) 66% , rgb(195, 9, 1) 81%);






}