

.theme_bg{

	background:#a6250f;

	min-width:320px;

	background-size:100%;

	background-position:center center;

}

.logo{

	padding-top:28%;

	transition:all ease .3s;

	margin: 0 auto;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	/*background:url(../images/icon_bg.png) no-repeat;*/

	vertical-align:middle;

	text-align:center;

}

.ui-header{

	background:url(../images/header_bg.png)  !important;

	border:none !important;

	

}

.ui-header a{

	box-shadow:none;

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#fff !important;

	font-size:24px;

	font-weight:normal;

	margin:0 23%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





/* custom setting of icons */

.app_feature_list a img{

	max-height:32px;

	max-width:32px;

}

.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: linear-gradient(left , rgb(82, 169, 22) 51% , rgb(246, 81, 14) 54% , rgb(197, 205, 90) 59% , rgb(38, 44, 254) 65% , rgb(122, 253, 201) 66% , rgb(203, 5, 36) 67% , rgb(90, 223, 200) 68% , rgb(61, 177, 131) 72% , rgb(215, 96, 119) 73% , rgb(136, 183, 245) 78% , rgb(200, 151, 23) 79% , rgb(57, 238, 90) 82% , rgb(118, 208, 234) 86% , rgb(0, 0, 0) 92% , rgb(48, 80, 87) 94%);
background: -o-linear-gradient(left , rgb(82, 169, 22) 51% , rgb(246, 81, 14) 54% , rgb(197, 205, 90) 59% , rgb(38, 44, 254) 65% , rgb(122, 253, 201) 66% , rgb(203, 5, 36) 67% , rgb(90, 223, 200) 68% , rgb(61, 177, 131) 72% , rgb(215, 96, 119) 73% , rgb(136, 183, 245) 78% , rgb(200, 151, 23) 79% , rgb(57, 238, 90) 82% , rgb(118, 208, 234) 86% , rgb(0, 0, 0) 92% , rgb(48, 80, 87) 94%);
background: -ms-linear-gradient(left , rgb(82, 169, 22) 51% , rgb(246, 81, 14) 54% , rgb(197, 205, 90) 59% , rgb(38, 44, 254) 65% , rgb(122, 253, 201) 66% , rgb(203, 5, 36) 67% , rgb(90, 223, 200) 68% , rgb(61, 177, 131) 72% , rgb(215, 96, 119) 73% , rgb(136, 183, 245) 78% , rgb(200, 151, 23) 79% , rgb(57, 238, 90) 82% , rgb(118, 208, 234) 86% , rgb(0, 0, 0) 92% , rgb(48, 80, 87) 94%);
background: -moz-linear-gradient(left , rgb(82, 169, 22) 51% , rgb(246, 81, 14) 54% , rgb(197, 205, 90) 59% , rgb(38, 44, 254) 65% , rgb(122, 253, 201) 66% , rgb(203, 5, 36) 67% , rgb(90, 223, 200) 68% , rgb(61, 177, 131) 72% , rgb(215, 96, 119) 73% , rgb(136, 183, 245) 78% , rgb(200, 151, 23) 79% , rgb(57, 238, 90) 82% , rgb(118, 208, 234) 86% , rgb(0, 0, 0) 92% , rgb(48, 80, 87) 94%);
background: -webkit-linear-gradient(left , rgb(82, 169, 22) 51% , rgb(246, 81, 14) 54% , rgb(197, 205, 90) 59% , rgb(38, 44, 254) 65% , rgb(122, 253, 201) 66% , rgb(203, 5, 36) 67% , rgb(90, 223, 200) 68% , rgb(61, 177, 131) 72% , rgb(215, 96, 119) 73% , rgb(136, 183, 245) 78% , rgb(200, 151, 23) 79% , rgb(57, 238, 90) 82% , rgb(118, 208, 234) 86% , rgb(0, 0, 0) 92% , rgb(48, 80, 87) 94%);
}





