.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgba(13, 34, 225, 0.4) 42% , rgb(90, 79, 54) 87%);
background: -o-linear-gradient(left , rgba(13, 34, 225, 0.4) 42% , rgb(90, 79, 54) 87%);
background: -ms-linear-gradient(left , rgba(13, 34, 225, 0.4) 42% , rgb(90, 79, 54) 87%);
background: -moz-linear-gradient(left , rgba(13, 34, 225, 0.4) 42% , rgb(90, 79, 54) 87%);
background: -webkit-linear-gradient(left , rgba(13, 34, 225, 0.4) 42% , rgb(90, 79, 54) 87%);






}