.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(28, 179, 127) 1% , rgb(30, 179, 128) 80%);
background: -o-linear-gradient(left , rgb(28, 179, 127) 1% , rgb(30, 179, 128) 80%);
background: -ms-linear-gradient(left , rgb(28, 179, 127) 1% , rgb(30, 179, 128) 80%);
background: -moz-linear-gradient(left , rgb(28, 179, 127) 1% , rgb(30, 179, 128) 80%);
background: -webkit-linear-gradient(left , rgb(28, 179, 127) 1% , rgb(30, 179, 128) 80%);






}