.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(center , circle cover , rgb(188, 135, 135) , rgb(124, 156, 20) 31% , rgb(0, 0, 0) 69%);
background: -o-radial-gradient(center , circle cover , rgb(188, 135, 135) , rgb(124, 156, 20) 31% , rgb(0, 0, 0) 69%);
background: -ms-radial-gradient(center , circle cover , rgb(188, 135, 135) , rgb(124, 156, 20) 31% , rgb(0, 0, 0) 69%);
background: -moz-radial-gradient(center , circle cover , rgb(188, 135, 135) , rgb(124, 156, 20) 31% , rgb(0, 0, 0) 69%);
background: -webkit-radial-gradient(center , circle cover , rgb(188, 135, 135) , rgb(124, 156, 20) 31% , rgb(0, 0, 0) 69%);






}