.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(center , ellipse cover , rgb(0, 0, 0) , rgb(193, 141, 141) 50%);
background: -o-radial-gradient(center , ellipse cover , rgb(0, 0, 0) , rgb(193, 141, 141) 50%);
background: -ms-radial-gradient(center , ellipse cover , rgb(0, 0, 0) , rgb(193, 141, 141) 50%);
background: -moz-radial-gradient(center , ellipse cover , rgb(0, 0, 0) , rgb(193, 141, 141) 50%);
background: -webkit-radial-gradient(center , ellipse cover , rgb(0, 0, 0) , rgb(193, 141, 141) 50%);






}