.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(center , circle cover , rgb(0, 0, 0) , rgb(209, 180, 177) 11% , rgb(0, 0, 0) 100%);
background: -o-radial-gradient(center , circle cover , rgb(0, 0, 0) , rgb(209, 180, 177) 11% , rgb(0, 0, 0) 100%);
background: -ms-radial-gradient(center , circle cover , rgb(0, 0, 0) , rgb(209, 180, 177) 11% , rgb(0, 0, 0) 100%);
background: -moz-radial-gradient(center , circle cover , rgb(0, 0, 0) , rgb(209, 180, 177) 11% , rgb(0, 0, 0) 100%);
background: -webkit-radial-gradient(center , circle cover , rgb(0, 0, 0) , rgb(209, 180, 177) 11% , rgb(0, 0, 0) 100%);






}